{% extends "base.html" %}

{% block content %}
    <h3>Create Your Notes</h3><br>

    <p><h1>Welcome, {{ user.username }}!</h1></p><br><br>
    <a href="{% url 'logout' %}">
        Logout
    </a><br><br>
    
    <a href="{% url 'create_note' %}">
        Create Note
    </a><br><br>


    <hr><br>

    {% for note in notes %}

        <div>

            <h2>{{ note.title }}</h2><br>

            <p>{{ note.content }}</p><br>

             <a href="{% url 'edit_note' note.id %}">
            Edit
            </a>
            &nbsp;&nbsp;
            <a href="{% url 'delete_note' note.id %}">
            Delete
            </a>


        </div><br>

        <hr>

    {% empty %}

        <p>You haven't created any notes yet.</p>

    {% endfor %}

{% endblock  %}