<!DOCTYPE html>
<html>
<head>
    <title>NotesApp</title>
</head>

<body>

    <h1>NotesApp</h1>

    <p>Welcome, {{ user.username }}!</p>

    <a href="{% url 'create_note' %}">
        Create Note
    </a>

    <a href="{% url 'logout' %}">
        Logout
    </a>

    <hr>

    {% for note in notes %}

        <div>

            <h2>{{ note.title }}</h2>

            <p>{{ note.content }}</p>

        </div>

        <hr>

    {% empty %}

        <p>You haven't created any notes yet.</p>

    {% endfor %}

</body>
</html>